/* Alessandra */
body, html {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  width: 100%;
}

/* Menu section */
#menu {
  width: 100%;
  height: 60vh;
  position: relative;
  background-color: #e0e0e0;
  z-index: 1;
}

.menu-container {
  display: grid;
  /* fr is another unit = fraction */
  /* It's evenly divided, but we can choose to have a fraction bigger than the other ones */
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 100%;
  overflow: auto;
}

/* Order section */
.order-buttons-container {
  height: 20%;
  text-align: center;
}

#order {
  height: 25vh;
  width: 100%;
  margin-top: 1em;
  overflow:hidden;
  z-index: -1;
}

.single-order {
  color: white;
  width:100%;
  height:25vh;
  background-color: rgb(32, 47, 61);
  overflow: auto;
}

.order-title {
  color: white;
  font-size: 1.4em;
  font-family: 'Times New Roman', Times, serif;
}

.listOfOrders {
  padding: 1em;
  overflow: auto;
}

/* Buttons */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.finish-btn {
  margin-left: 2em;
  font-size: 20px;
  background-color: rgb(3, 100, 245);
}

.add-person-btn {
  position: relative;
  margin: 1em;
  background-color: rgb(125, 123, 255);
}

/* Menu items */
.active {
  display: block;
}

.unactive {
  display: none;
}

/* List shown in the order section */
.nameOrderItem {
  font-size: 1.3em;
  font-weight: bold;
}

.qtyOrderItem {
  margin-left: 1.5em;
  font-size: 1.3em;
}

.totalPriceOrderItem {
  margin-left: 1.5em;
  font-size: 1.3em;
  font-style: italic;
}

/* Bottom bar */
.bottombar{
  min-height: 45px;
  line-height: 45px;
  width: 100%;
  vertical-align: middle;
  background-color: #172946;
  color: white;
  position: absolute;
  bottom: 0;

}

#lighthouse, #server, #time, #today, #combination_txt, #security, #bar_language_select{
  display: inline-block;
  padding-right: 30px;
}

/* MODAL */
#orderRecapModal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 40%;
  left: 0;
  right: 0;
  width: 50%;
  z-index: 3;
  display: none;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  /* The animation is defined below */
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation, when the pop-up window appears */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* Modal Header */
.modal-header {
  text-align: center;
  padding: 16px;
  background-color: #36bd63;
  font-size: 1.7em;
  color: white;
}

/* Modal Body */
.modal-body {
  color: #fff;
  font-size: 1.5em;
  background-color: #36bd63;
  text-align: center;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #36bd63;
  text-align: center;
}

.modal-footer > img {
  width: 80px;
  height: 80px;
}

/* The Close Button */
.modal-close-btn {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Overlay behind the modal */
.overlay{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(59, 59, 59, 0.747);
  display: none; /* making it hidden by default */
}
