body, html {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  width: 100%;
}

#menu {
  width: 100%;
  height: 60vh;
  position: relative;
  background-color: #e0e0e0;
  z-index: 1;
}

.menu-container {
  display: grid;
  /* fr is another unit = fraction */
  /* It's evenly divided, but we can choose to have a fraction bigger than the other ones */
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 100%;
  overflow: auto;
}

/* Style tab links
.tablink {
  background-color: #296d98;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.innerContainer{
  padding:30px 0px 0px 30px;
  background-color: #ffffff;
  height: auto;
  border-radius: 30px;

}

.order{
  background-color: #ECF0F3;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin: 300px;
  padding: 50px;
}


Style the tab content (and add height:100% for full page content)
.tabcontent {
  color: rgb(4, 4, 21);
  display: none;
  padding: 100px;
  padding-top: 60px;
  margin-right: 30px;
  min-height: 80vh;
}
/* 
/* #menu {background-color: black} 
#Beverage_Menu {background-color: red;}
#Snack_Menu {background-color: green;}
#Single_Order {background-color: blue;}
#Group_Order {background-color: yellow;}
#inner-container {background-color: pink;}*/


#order {
  height: 25vh;
  width: 100%;
  margin-top: 1em;
  overflow:hidden;
  z-index: -1;
}

.single-order {
  color: white;
  width:100%;
  height:25vh;
  background-color: rgb(32, 47, 61);
  overflow: auto;
}

.order-title {
  color: white;
  font-size: 1.4em;
  font-family: 'Times New Roman', Times, serif;
}

.listOfOrders {
  padding: 1em;
  overflow: auto;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}


.finish {
  margin-left: 2em;
  font-size: 20px;
  background-color: rgb(3, 100, 245);
}

.order-buttons-container {
  height: 20%;
}

.add-person {
  position: relative;
  margin: 1em;
  background-color: rgb(125, 123, 255);
}


.active {
  display: block;
}

.unactive {
  display: none;
}

.nameOrderItem {
  font-size: 1.3em;
  font-weight: bold;
}

.qtyOrderItem {
  margin-left: 1.5em;
  font-size: 1.3em;
}

.totalPriceOrderItem {
  margin-left: 1.5em;
  font-size: 1.3em;
  font-style: italic;
}

/* bottom bar style */
.bottombar{
  min-height: 45px;
  line-height: 45px;
  width: 100%;
  vertical-align: middle;
  background-color: #172946;
  color: white;
  position: absolute;
  bottom: 0;

}

#lighthouse, #server, #time, #today, #combination_txt, #security, #bar_language_select{
  display: inline-block;
  padding-right: 30px;
}


/* #order:hover #person1 {
  display: block;
} */
